# IDE
.idea
.vscode/settings.json

# Development
.venv/
.env
__pycache__
.cache/
.mypy_cache/

# Bot data
_local/*
logs/*
modules/*
!modules/base
pumpkin.db
pumpkin.db-journal
test.db
test.db-journal

# Docs
docs/_build
docs/build
