# IDE
.idea
.vscode/settings.json

# Development
.venv*/
*.env*
*.egg-info
__pycache__
.cache/
.mypy_cache/

# Bot data
_local/*
logs/*
modules/*
!modules/base
*.db
*.db-journal

# Backups
backups/*

# Docs
docs/_build
docs/build
