pre-commit

# static analysis
black==22.8.0
flake8==5.0.4
flake8-print==5.0.0
flake8-todo==0.7

# safety checking
bandit>=1.7.4,<2.0.0

# type checking
mypy==0.982
sqlalchemy-stubs
types-requests

# tests
pytest>=7.1.3,<8.0.0

# pumpkin.py tools
git+https://github.com/pumpkin-py/pumpkin-tools.git
