name: Build

on:
  push:
    branches: [main]
    paths:
      - "**/*.py"
      - "**/*.json"
      - "**/*.yml"
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Restore cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('requirements*') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.python-version }}-
            ${{ runner.os }}-

      - name: Setup environment
        run: |
          export DB_STRING="sqlite://pumpkin.py"
          export TOKEN=0

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip wheel
          python3 -m pip install --upgrade --upgrade-strategy eager -r requirements.txt
          python3 -m pip install --upgrade --upgrade-strategy eager -r requirements-dev.txt

      - name: Check the code formatting
        run: |
          black . --diff

      - name: Check the code for errors
        run: |
          flake8 . --count --statistics

      - name: Check TODOs
        run: |
          flake8 . --select=T --show-source --exit-zero

      - name: Run pytest
        run: |
          pytest -v tests/
